<ion-view title="Query Visualization" id="page2">
    <ion-content padding="true" class="has-header">
        <h2 style="padding-top:20px">Pick A Query</h2>
        <ion-list>
            <ion-item ng-click="openModal()" class="item-icon-left positive">
                <i class="icon ion-stats-bars"></i>
                <h3>Out of all the tweets collected, which candidate is being discussed the most?</h3>
            </ion-item>
            <ion-item ng-click="openModal2()" class="item-icon-left positive">
                <i class="icon ion-arrow-graph-up-right"></i>
                <h3>Are many people tweeting a lot about the debate, or are just a few people dominating the discussion with lots of tweets?</h3>
            </ion-item>
            <ion-item ng-click="openModal3()" class="item-icon-left positive">
                <i class="icon ion-load-b"></i>
                <h3>What is the overall sentiment of all the tweets about Hillary Clinton versus the overall sentiment of all the tweets about Donald Trump?</h3>
            </ion-item>
            <ion-item ng-click="openModal4()" class="item-icon-left positive">
                <i class="icon ion-ios-pie"></i>
                <h3>What are the most popular hashtags that are in the tweets collected?</h3>
            </ion-item>
            <ion-item ng-click="openModal5()" class="item-icon-left positive">
                <i class="icon ion-chatbubble-working"></i>
                <h3>At what times were the most tweets create during the debate?</h3>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

<!--Query 1 Modal-->
<script id="my-modal.html" type="text/ng-template">
<div class="modal" style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Query 1</h1>
        <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
            <canvas 
                id="base"
                class="chart-base"
                chart-data="data1" 
                chart-type="type1"
                chart-labels="labels1"  
                chart-series="series1"
                chart-options="options1"
                chart-dataset-override="datasetOverride1" 
                style="padding-top:75px;padding-right:10px;padding-left:10px;">
            </canvas>
  </div>
</script>

<!--Query 2 Modal-->
<script id="my-modal2.html" type="text/ng-template">
<div class="modal" style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Query 2</h1>
        <div class="button button-clear" ng-click="modal2.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    
        <canvas 
            id="line" 
            class="chart chart-line" 
            chart-data="data2"
            chart-labels="labels2" 
            chart-series="series2" 
            chart-options="options2"
            chart-dataset-override="datasetOverride2" 
            chart-click="onClick2"
            style="padding-top:150px;padding-right:10px;padding-left:10px;">
        </canvas> 
  </div>
</script>

<!--Query 3 Modal-->
<script id="my-modal3.html" type="text/ng-template">
<div class="modal" style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Query 3</h1>
        <div class="button button-clear" ng-click="modal3.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    
            <canvas 
                id="radar" 
                class="chart chart-radar"
                chart-data="data3" 
                chart-options="options3" 
                chart-labels="labels3"
                chart-series="series3"
                chart-dataset-override="datasetOverride3" 
                style="padding-top:50px;">
            </canvas>
  </div>
</script>

<!--Query 4 Modal-->
<script id="my-modal4.html" type="text/ng-template">
<div class="modal" style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Query 4</h1>
        <div class="button button-clear" ng-click="modal4.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
        <canvas 
            id="doughnut" 
            class="chart chart-doughnut"
            chart-data="data4" 
            chart-labels="labels4"
            chart-options="options4"
            style="padding-top:50px;">
        </canvas>
  </div>
</script>

<!--Query 5 Modal-->
<script id="my-modal5.html" type="text/ng-template">
<div class="modal" style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Query 5</h1>
        <div class="button button-clear" ng-click="modal5.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
        <canvas 
            id="line" 
            class="chart chart-line" 
            chart-data="data5"
            chart-labels="labels5" 
            chart-series="series5" 
            chart-options="options5"
            chart-dataset-override="datasetOverride5" 
            chart-click="onClick5"
            style="padding-top:150px;padding-right:10px;padding-left:10px;">
        </canvas> 
  </div>
</script>